<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Chat Room Login</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div class="logo_box">
    <h3>Chat Room</h3>
    <form id="login" action="login" method="get">
        <div class="input_outer">
            <span class="u_user"></span>
            <input id="user" name="user" class="text" type="text" placeholder="Username">
            <span th:if="${error != null}"  th:text="${error}" style="color:red"/><br>
        </div>
        <div class="mb2">
            <a class="act-but submit" type="submit" onclick=login()>Login</a>
        </div>
    </form>
</div>
<script>

    /**
     * Login
     */
    function login() {
        $("#login").submit();
    }

    /**
     * Enter to login.
     */
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        e.keyCode === 13 && login();
    };


</script>
</body>
</html>