<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Chat Room Login</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div class="logo_box">
    <h3>Chat Room</h3>
    <form id="login" action="login" method="post">
        <div class="input_outer">
            <span class="u_user"></span>
            <input id="user" name="user" class="text" type="text" placeholder="Username">
        </div>
        <div class="input_outer">
            <input id="pass" name="pass" class="text" type="password" placeholder="Password">
        </div>
        <div class="mb2">
            <button id="register-btn" class="act-but submit" type="submit">Login</button>
        </div>
    </form>
    <div class="register">
        <a id="register-login-link" class="register" href="javascript:register();">Not registered ? Create an account</a>
    </div>
</div>
<script>

    /**
    *
    * register link
    */
    function register() {
        $(".mb2").before("<div id=\"confirm-pass\" class=\"input_outer\"><input name=\"pass\" class=\"text\"type=\"password\" placeholder=\"Confirm password\"></div>");
        $("#register-btn").text("Register");
        $("#register-login-link").text("Already registered ? Login");
        $("#register-login-link").attr("href", "javascript:login()");
        $("#login").attr("action", "register");
    }

    /**
    *
    * login link
    */
    function login() {
        $("#confirm-pass").remove();
        $("#register-btn").text("Login");
        $("#register-login-link").text("Not Registered ? Create an account");
        $("#register-login-link").attr("href", "javascript:register()");
        $("#login").attr("action", "login");
    }

    /**
     * Login
     *
    function login() {
        $("#login").submit();
    }

    **
     * Enter to login.
     *
    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        e.keyCode === 13 && login();
    };*/


</script>
</body>
</html>